MYSQL_HOST=IP_DA_VPS
MYSQL_PORT=3306
MYSQL_USER=griffy_user
MYSQL_PASSWORD=SENHA_FORTE_AQUI
MYSQL_DATABASE=griffy_store

APP_PORT=3789

FISCAL_ENABLED=false
FISCAL_ENV=homologacao
FISCAL_UF=SP
FISCAL_CNPJ=
FISCAL_IE=
FISCAL_RAZAO_SOCIAL=GRIFFY STORE
FISCAL_CERT_PFX=
FISCAL_CERT_PASSWORD=
